<br><br>
<center>
<h3>Your url for <%= @output_url.long_url %> is: </h3>
<br><br>
<%= link_to @output_url.short_url, @output_url.short_url, target: "_blank" %><br /><br />
<br><br>
<%= link_to "Create another Url", root_path %>
</center>